DATABASE_URL=postgresql://dev:devpassword@localhost:5433/nutrition_tracker
PORT=3000

POSTGRES_USER=dev
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=nutrition_tracker
POSTGRES_PORT=5433

JWT_SECRET=spiewaj-ze-mna-shrek